

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="D:\projects\matrix\static\style.css">
</head>
<body>
    <nav> <button id="pricing">Pricing</button>
    </nav>

    <div id="buttonContainer">
        <button id="One">Matrix ONE</button>
        <button id="EDGE">Matrix EDGE</button>
        <button id="ALGO">Matrix ALGO</button>
    </div>

    
    <div class="main">
    <div class="FeaturePrducts"style="display: none;">
        <h4>Featured Products</h4>
        <div class="d1"></div>
        <div class="d2"></div>
        <div class="d3"></div>
        <div class="d4"></div>
            
        </div>

    <div class="StandardizedPlans" style="display: none;">
        <h4>Personalized & Standardized Plans</h4>
        <div class="s1"></div>
        <div class="s2"></div>
        <div class="s3"></div>
        <div class="s4"></div>         
    </div>
  
</div>

<div class="FavouriteOne" style="display: none;">
    <h4>Choose Your Favourite One</h4>
    <div class="s1"></div>
    <div class="s2"></div>
    <div class="s3"></div>
    <div class="s4"></div>         
</div>
    
    <script src="D:\projects\matrix\static\script.js"></script>

</body>
</html>


